---
import ExperienceCard from "./ExperienceCard.astro";

const {expData, title} = Astro.props
---

<section id="experience">
    <h1>{title}</h1>
    <br>
    <div>
        {
            Object.keys(expData).map((item:string)=>{
                return <ExperienceCard exp={expData[item]}/>
            })
        }
    </div>
</section>

<style>
    section {
        scroll-margin-top: 7rem;
        width: 90rem;
        height: auto;
        margin: 1rem;

    }
    
    div {
        border-left: 2px solid rgb(196, 223, 99);
        padding-bottom: 10px;
        padding-left: 2rem;
    }
    
    h1 {
        color: rgb(196, 223, 99);
        font-size: 4rem;
    }
</style>
