---
import type { Data } from '../types/Data'

interface Props {
    lan: string
    data: Data
}

const { lan, data } = Astro.props as Props

---

<footer id="contact" class="xl-footer">
    <div class="container">
        <p>
            {
                lan == "es"?
                "Buscame en mis redes":
                "Find me on my socials"
            }
        </p>
        <a class="xref" target="_blank" href="https://github.com/zapatajuani">
            <img src="/svg/github.svg" alt="">
            <p class="icon-text">GitHub</p>
        </a>
        <a class="xref" target="_blank" href={data.titulo.linkedin}>
            <img src="/svg/linkedin.svg" alt="">
            <p class="icon-text">LinkedIn</p>
        </a>
    </div>
    <div class="container">
        <p>
            {
                lan == "es"?
                "Diseñado con Astro":
                "Powered with Astro"
            }
        </p>
        <img class="icon" src="/svg/astro.svg" alt="astro-icon">
        <p>
            {
                lan == "es"?
                "Hecho por Juan Ignacio Zapata":
                "Designed by Juan Ignacio Zapata"
            }
        </p>
    </div>

    <div class="container">
        <p style="text-align: center;">
            {
                lan == "es"?
                "Contactame escaneando el QR":
                "Contact me by scanning the QR"
            }
        </p>
        <img class="qr" src="/imgs/qr.png" alt="">
        <a href="https://forms.gle/xZNMDmq3eFcVGroH7" target="_blank">
            <p>
                {
                    lan == "es"?
                    "O haz click aquí":
                    "Or click here"
                }
            </p>
        </a>
    </div>

    <div class="container" id="form">
        <h4>
            {
                lan == "es"?
                "O complete éste":
                "Or complete this"
            }
        </h4>
        <a href="https://forms.gle/xZNMDmq3eFcVGroH7" target="_blank">
            {
                lan == "es"?
                "formulario":
                "form"
            }
        </a>
    </div>
</footer>

<style>
    footer {
        background-color: rgb(19, 19, 80);
    }
    
    .icon {
        width: 50px;
        height: auto;
    }

    @media (width >= 1000px) {

        #form {
            display: none;
        }

        footer {
            width: 100%;
            height: 25rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        /* ------------------------------------------- */

        .container:nth-child(1) {
            margin-left: 5%;
            
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 20px;
        }

        .container:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        .container:nth-child(3) {
            margin-left: 50%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        /* ------------------------------------------- */

        a {
            text-decoration: none;
            color: inherit;
            font-size: 1rem;
        }
        
        .xref {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        
        .xref:hover {
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
        }

        .qr {
            border-radius: 5px;
            width: 150px;
            height: auto;
        }

        .xref img {
            height: 30px;
            width: auto;
        }
        
    }

    @media (width < 1000px) {

        footer {
            width: 100%;
            height: auto;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .icon-text {
            display: none;
        }

        /* ----------------------------------------------- */

        .container:nth-child(1) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .container:nth-child(1) p {
            grid-column-start: 1;
            grid-column-end: 3;

            text-align: center;
            font-size: 2rem;
        }

        .container:nth-child(1) a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .xref img {
            height: 50px;
            width: auto;
        }

        /* ----------------------------------------------- */

        .container:nth-child(2) {
            margin-bottom: 50px;

            grid-row-start: 3;
            grid-row-end: 4;

            gap: 10px;
        }

        /* ----------------------------------------------- */

        .container:nth-child(3) {
            display: none
        }

        .qr {
            display: none;
        }

        /* ----------------------------------------------- */

        #form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }

        h4 {
            font-size: 2rem;
        }

        #form a {
            color: inherit;
            text-decoration: underline;
            font-size: 2rem;
            font-weight: 700;
        }

    }
</style>
