---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/svg/code.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>JZ - Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>


<style is:global>
	:root {
		font-size: 10px;
	}

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		scrollbar-gutter: auto;
	}

	body {
		height: 100%;
		color: rgb(224, 204, 250);
		opacity: 0;
		animation: fadeIn 1s ease-out forwards;
	}

	html {
		scroll-behavior: smooth;
		font-family: system-ui, sans-serif;
		background: linear-gradient(to bottom right, #13151a, rgb(57, 57, 145));
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(-20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>
